# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.env
*.egg-info/

# Node / Frontend
Frontend/node_modules/
Frontend/dist/
Frontend/.env

# Backend
Backend/node_modules/
Backend/.env

# OS
.DS_Store
Thumbs.db

# Misc
*.log
*.tmp
